In [3]:
#module
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.cluster import KMeans

In [4]:
def load_data(filename):
    df = pd.read_csv(filename)
    return df

In [20]:
def preprocess(data, columns):
    new_data = data[columns]
    ct = ColumnTransformer([('standardize', StandardScaler(), columns)], remainder='passthrough')
    return ct.fit_transform(new_data)

In [21]:
def clustering(data,data_preprocessed,n_groups):
    kmeans = KMeans(n_clusters=n_groups,random_state=0)
    cluster = kmeans.fit(data_preprocessed)
    result = pd.DataFrame()
    result['hands'] = data['hands']
    result['group'] = pd.DataFrame(cluster.labels_)
    return result

In [24]:
def get_group(group_no, result):
    interested_group = []
    for index,row in result.iterrows():
        if row['group'] == 1:
            interested_group.append(row['hands'])
    return interested_group

In [25]:
def visual_group(interested_group):
    for hand in interested_group:
        print(hand+':'+'1'+',',end='')
    print('\b')

In [26]:
def get_group_equity(interested_group, data):
    avg_equity = 0
    for index,row in data.iterrows():
        for hand in interested_group:
            if (row['hands']==hand):
                avg_equity += row['equity']
    return avg_equity/len(interested_group)

In [27]:
def get_group_ev(interested_group, data):
    avg_ev = 0
    for index,row in data.iterrows():
        for hand in interested_group:
            if (row['hands']==hand):
                avg_ev += row['ev']
    return avg_ev/len(interested_group)

In [2]:
columns = ['equity','ev','f_bet200','f_bet100','f_bet50','f_bet25','f_check']

In [1]:
n_groups = 4

In [12]:
data = load_data('AQ6r.csv')
data

,hands,equity,cb,cb_bet200,cb_bet100,cb_bet50,cb_bet25,cb_check,f_bet200,f_bet100,f_bet50,f_bet25,f_check,ev,ev_bet200,ev_bet100,ev_bet50,ev_bet25,ev_check
0,AsAd,96.070,0.436,0.000,0,0.056,0.268,0.112,0.000,0.000,12.797,61.444,25.759,13.0877,12.2232,13.0554,13.0754,13.0915,13.0847
1,AdAh,95.999,0.436,0.000,0,0.057,0.270,0.108,0.000,0.000,13.183,62.023,24.794,13.1398,12.3471,13.0695,13.1272,13.1437,13.1367
2,AsAh,95.990,0.436,0.000,0,0.057,0.271,0.108,0.000,0.000,13.101,62.080,24.819,13.1779,12.4465,13.1367,13.1651,13.1818,13.1752
3,QsQc,95.889,0.452,0.000,0,0.098,0.348,0.006,0.000,0.010,21.573,77.093,1.323,15.3512,15.3385,15.3511,15.3386,15.3548,15.3506
4,QcQh,95.781,0.452,0.181,0,0.049,0.222,0.000,39.997,0.000,10.827,49.176,0.000,15.4908,15.4901,15.4738,15.4821,15.4932,15.4457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,5c3c,19.320,0.462,0.344,0,0.011,0.037,0.069,74.491,0.000,2.470,8.053,14.986,1.5020,1.5020,1.5019,1.5015,1.5030,1.5016
531,5d3d,19.257,0.462,0.292,0,0.017,0.064,0.089,63.276,0.003,3.729,13.809,19.183,1.4799,1.4799,1.4798,1.4790,1.4808,1.4794
532,7h4h,18.621,0.496,0.055,0,0.027,0.120,0.293,11.113,0.010,5.500,24.245,59.132,1.1763,1.1764,1.1762,1.1748,1.1775,1.1760
533,5h4h,17.004,0.442,0.098,0,0.038,0.081,0.225,22.223,0.027,8.533,18.279,50.938,1.2504,1.2506,1.2503,1.2481,1.2512,1.2505
534,5h3h,15.589,0.462,0.004,0,0.025,0.154,0.279,0.911,0.014,5.386,33.270,60.419,1.1216,1.1212,1.1216,1.1205,1.1228,1.1211

In [22]:
data_preprocessed = preprocess(data, columns)
result = clustering(data,data_preprocessed,4)

In [29]:
group1 = get_group(0,result)
visual_group(group1)
print(get_group_equity(group1,data))
print(get_group_ev(group1,data))

6d6c:1,6c6h:1,6d6h:1,AsQs:1,AdQc:1,AsQc:1,AdQs:1,AhQc:1,AdQh:1,AhQs:1,AsQh:1,AhQh:1,Ad6c:1,As6d:1,Ah6d:1,Ad6h:1,As6h:1,Ah6h:1,AdKd:1,AsKs:1,AdKc:1,AdKs:1,AsKc:1,AsKd:1,AhKc:1,AhKs:1,AhKd:1,AdKh:1,Qc6c:1,AsKh:1,AhKh:1,AsJs:1,Qh6h:1,AdJc:1,AdJs:1,AsJc:1,AhJc:1,AsJd:1,AhJs:1,AhJd:1,AdJh:1,AsJh:1,AhJh:1,AdTs:1,AhTd:1,Ad8h:1,Jc6c:1,Jh6h:1,6c4c:1,6c5c:1,6d4d:1,6d5d:1,7s6c:1,7s6h:1,7c6h:1,7s6d:1,7c6d:1,7d6c:1,7h6c:1,7d6h:1,6h4h:1,6h5h:1,KdJc:1,KsJc:1,KcJd:1,KdJs:1,KdJh:1,KhJc:1,KcJh:1,KhJd:1,KhJs:1,KdTc:1,KdTs:1,KcTd:1,KcTs:1,KsTc:1,KsTd:1,KdTh:1,KcTh:1,KhTc:1,KhTd:1,KsTh:1,KhTs:1,JcTd:1,JcTs:1,JdTc:1,JdTs:1,JsTc:1,JsTd:1,JcTh:1,JhTc:1,JdTh:1,JhTd:1,JhTs:1,JsTh:1,Jc9c:1,Jd9d:1,Js9s:1,Td9d:1,Tc9c:1,Ts9s:1,Tc8c:1,Td8d:1,Ts8s:1,Jc4c:1,9c8c:1,9d8d:1,9s8s:1,8c7c:1,8s7s:1,8d7d:1,Tc4c:1,Td4d:1,5c4c:1,5s4s:1,5d4d:1,5c3c:1
60.37577777777777
4.723930769230772